/* line 2, ../sass/exquisiteCorpse.scss */
body {
  text-align: center;
}

/* line 6, ../sass/exquisiteCorpse.scss */
#canvas-container,
#ai-canvas-container, .jd-controls {
  margin: auto;
}

/* line 11, ../sass/exquisiteCorpse.scss */
#canvas-container {
  cursor: pointer;
}

/* line 15, ../sass/exquisiteCorpse.scss */
#ai-paper, #canvas-container canvas:last-child {
  border: 1px solid black;
}

/* line 19, ../sass/exquisiteCorpse.scss */
#ai-paper {
  border-top: none;
}

/* line 23, ../sass/exquisiteCorpse.scss */
.jd-clear-button, .jd-clear-button:active, .jd-clear-button:focus {
  outline: 0;
  margin: 0;
  background: none;
  border: 1px solid black;
  border-bottom: none;
  box-sizing: border-box;
}

/* line 34, ../sass/exquisiteCorpse.scss */
.jd-clear-button:hover {
  cursor: pointer;
  background: #f3f3f3;
}

/* line 40, ../sass/exquisiteCorpse.scss */
#canvas-container {
  padding: 0;
}
