
body {
    text-align: center;
}

canvas, div, body {
    box-sizing: border-box;
}

#canvas-container,
#canvas-compressed-container,
#ai-canvas-container, .jd-controls {
    margin: auto;
}

#canvas-container {
    cursor: pointer;
    canvas {
        visibility: hidden !important;
    }
}

#canvas-compressed {
    cursor: pointer;
}

#ai-paper, #canvas-container canvas:last-child, #canvas-compressed {
    border: 1px solid black;
}

#ai-paper, #canvas-compressed {
    position: relative;
    top: -252px;
}

#ai-paper {
    top: -256px;
}

#ai-paper {
    border-top: none;
}

.jd-clear-button, .jd-clear-button:active, .jd-clear-button:focus {
    outline: 0;
    //width: 400px;
    margin: 0;
    background: none;
    border: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
}

.jd-clear-button {
    &:hover {
        cursor: pointer;
        background: rgb(243, 243, 243);
    }
}

#canvas-container,
#canvas-compressed-container {
    padding: 0;
}

